<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/01_python_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum

In [3]:
def multiplication_or_sum(num1, num2):
    product = num1 * num2
    if product <= 1000:
        return product
    else:
        return num1 + num2

number1 = 50
number2 = 30

result = multiplication_or_sum(number1, number2)
print("The result is", result)

The result is 80

2. Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

In [5]:
def sumNum(num):
    previousNum = 0
    for i in range(num):
        sum = previousNum + i
        print("Current Number", i, "Previous Number ", previousNum," Sum: ", sum)
        previousNum = i

print("Printing current and previous number sum in a given range(10)")
sumNum(10)

Printing current and previous number sum in a given range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [7]:
numbers = [5, 10, 15, 20, 25, 30, 30]

for i in range(len(numbers)):
    if i == 0:
        print(numbers[i])
    else:
        print(numbers[i - 1] + numbers[i])

5
15
25
35
45
55
60

In [8]:
numbers = [5, 10, 15, 20, 25, 30, 30]

i = 0
for x in range(1, 8):
    print(numbers[i] + numbers[i - 1], end=", ")
    i += 1

35, 15, 25, 35, 45, 55, 60,

 3. Given a string, display only those characters which are present at an even index number.

In [9]:
def printEveIndexChar(str):
  for i in range(0, len(str)-1, 2):
    print("index[",i,"]", str[i] )

inputStr = "pynativeinBangladesh" 
print("Orginal String is ", inputStr)

print("Printing only even index chars")
printEveIndexChar(inputStr)

Orginal String is  pynativeinBangladesh
Printing only even index chars
index[ 0 ] p
index[ 2 ] n
index[ 4 ] t
index[ 6 ] v
index[ 8 ] i
index[ 10 ] B
index[ 12 ] n
index[ 14 ] l
index[ 16 ] d
index[ 18 ] s

4. Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

In [10]:
def removeChars(str, n):
  return str[n:]

print("Removing n number of chars")
print(removeChars("pynative", 5))

Removing n number of chars
ive

5. Given a list of numbers, return True if first and last number of a list is same

In [12]:
def isFirst_And_Last_Same(numberList):
    print("Given list is ", numberList)
    firstElement = numberList[0]
    lastElement = numberList[-1]
    if (firstElement == lastElement):
        return True
    else:
        return False

numList = [10, 20, 30, 40, 10]
print("result is", isFirst_And_Last_Same(numList))

Given list is  [10, 20, 30, 40, 10]
result is True

In [13]:
def isFirst_And_Last_Same(numberList):
    print("Given list is ", numberList)
    firstElement = numberList[0]
    lastElement = numberList[-1]
    if (firstElement == lastElement):
        return True
    else:
        return False

numList = [10, 20, 30, 40, 20]
print("result is", isFirst_And_Last_Same(numList))

Given list is  [10, 20, 30, 40, 20]
result is False

6. Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

In [14]:
def findDivisible(numberList):
    print("Given list is ", numberList)
    print("Divisible of 5 in a list")
    for num in numberList:
        if (num % 5 == 0):
            print(num)

numList = [10, 20, 33, 46, 55]
findDivisible(numList)

Given list is  [10, 20, 33, 46, 55]
Divisible of 5 in a list
10
20
55

In [15]:
def findDivisible(numberList):
    print("Given list is ", numberList)
    print("Divisible of 5 in a list")
    for num in numberList:
        if (num % 3 == 0):
            print(num)

numList = [10, 20, 33, 46, 55]
findDivisible(numList)

Given list is  [10, 20, 33, 46, 55]
Divisible of 5 in a list
33

7. Return the total count of sub-string “Emma” appears in the given string

In [16]:
sampleStr = "Emma is good developer. Emma is a writer"
cnt = sampleStr.count("Emma")
print(cnt)

2

In [18]:
sampleStr = "Shahadat is good developer. Shahadat is a content writer.Shahadat lives in Dhaka"
cnt = sampleStr.count("Shahadat")
print(cnt)

3

8. Print the following pattern

In [19]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9