<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/01_python_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10. Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list

In [1]:
def mergeList(listOne, listTwo):
    print("First List ", listOne)
    print("Second List ", listTwo)
    thirdList = []
    
    for num in listOne:
        if (num % 2 != 0):
            thirdList.append(num)
    for num in listTwo:
        if (num % 2 == 0):
            thirdList.append(num)
    return thirdList

listOne = [10, 20, 23, 11, 17]
listTwo = [13, 43, 24, 36, 12]

print("result List is", mergeList(listOne, listTwo))

First List  [10, 20, 23, 11, 17]
Second List  [13, 43, 24, 36, 12]
result List is [23, 11, 17, 24, 36, 12]

11. Write a code to extract each digit from an integer, in the reverse order

In [2]:
number = 7536
print("Given number", number)
while (number > 0):
    # get the last digit
    digit = number % 10
    
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

12. Calculate income tax for the given income by adhering to the below rules

In [4]:
income = 450000
taxPayable = 0
print("Given income", income)

if income <= 10000:
    taxPayable = 0
elif income <= 20000:
    taxPayable = (income - 10000) * 10 / 100
else:
    # first 10,000
    taxPayable = 0

    # next 10,000
    taxPayable = 10000 * 10 / 100

    # remaining
    taxPayable += (income - 20000) * 20 / 100

print("Total tax to pay is", taxPayable)

Given income 450000
Total tax to pay is 87000.0

13. Print multiplication table form 1 to 10

In [5]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

14. Print downward Half-Pyramid Pattern with Star (asterisk)

In [6]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

15. Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [7]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

5 raises to the power of 4 is:  625

In [8]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(510, 2)

510 raises to the power of 2 is:  260100