<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/02_Python_Input_and_Output_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1. Accept two numbers from the user and calculate multiplication

In [ ]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))

print("\n")
res = num1 + num2
print("Sum is", res)

Enter first number 4
Enter second number 5


Sum is 9

2: Display “My Name Is James” as “My** *Name*** Is**James” using output formatting of a print() function

In [2]:
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

In [3]:
print('My', 'Name', 'Is', 'James', sep='##')

My##Name##Is##James

3. Convert decimal number to octal using print() output formatting

In [4]:
print('%o,' % (8))

10,

4. Display float number with 2 decimal places using print()

In [5]:
print('%.2f' % 458.541315)

458.54

5. Accept list of 5 float numbers as a input from user

In [6]:
floatNumbers = []
n = int(input("Enter the list size : "))

print("\n")
for i in range(0, n):
    print("Enter number at location", i, ":")
    item = float(input())
    floatNumbers.append(item)
    
print("User List is ", floatNumbers)

Enter the list size : 6


Enter number at location 0 :
6
Enter number at location 1 :
7
Enter number at location 2 :
4
Enter number at location 3 :
3
Enter number at location 4 :
7
Enter number at location 5 :
7
User List is  [6.0, 7.0, 4.0, 3.0, 7.0, 7.0]

6. Accept any three string from one input() call

In [9]:
str1, str2, str3 = input("Enter three string").split()
print(str1, str2, str3)

Enter three stringMd Shahadat Hossain
Md Shahadat Hossain

7. You have the following data.

In [10]:
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

9. How to check file is empty or not