<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/03_List_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 Given a Python list you should be able to display Python list in the following order

In [1]:
aList = [100, 200, 300, 400, 500]
aList = aList[::-1]
print(aList)

[500, 400, 300, 200, 100]

In [3]:
aList = [100, 200, 300, 400, 500] 
print(aList[::-1])

[500, 400, 300, 200, 100]

2. Concatenate two lists index-wise

In [4]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

3. Given a Python list. Turn every item of a list into its square

In [5]:
aList = [1, 2, 3, 4, 5, 6, 7]
aList =  [x * x for x in aList]
print(aList)

[1, 4, 9, 16, 25, 36, 49]

4. Concatenate two lists in the following order

In [6]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

resList = [x+y for x in list1 for y in list2]
print(resList)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

In [7]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings

In [8]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
resList = list(filter(None, list1))
print(resList)

['Mike', 'Emma', 'Kelly', 'Brad']

 7. Add item 7000 after 6000 in the following Python List

In [9]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list

In [27]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]

list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

In [30]:
list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

10: Given a Python list, remove all occurrence of 20 from the list

In [31]:
list1 = [5, 20, 15, 20, 25, 50, 20]

def removeValue(sampleList, val):
   return [value for value in sampleList if value != val]
resList = removeValue(list1, 20)
print(resList)

[5, 15, 25, 50]