<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/06_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Reverse the following tuple

In [1]:
aTuple = (10, 20, 30, 40, 50)
aTuple = aTuple[::-1]
print(aTuple)

(50, 40, 30, 20, 10)

In [2]:
aTuple = (10, 20, 30, 40, 50)
print(aTuple[::-1])

(50, 40, 30, 20, 10)

2. Access value 20 from the following tuple

In [3]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

3. Create a tuple with single item 50

In [4]:
aTuple = (50, )
print(aTuple)

(50,)

4. Unpack the following tuple into 4 variables

In [5]:
aTuple = (10, 20, 30, 40)
a, b, c, d = aTuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

 5. Swap the following two tuples

In [6]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

6. Copy element 44 and 55 from the following tuple into a new tuple

In [7]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

7. Modify the first item (22) of a list inside a following tuple to 222

In [8]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

8. Sort a tuple of tuples by 2nd item

In [9]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

9. Counts the number of occurrences of item 50 from a tuple

In [12]:
tuple1 = (50, 10, 60, 70, 50, 50, 80)
print(tuple1.count(50))

3

10. Check if all items in the following tuple are the same

In [13]:
def check(sampleTuple):
    return all(i == sampleTuple[0] for i in sampleTuple)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True