<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/07_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given a string of odd length greater 7, return a string made of the middle three chars of a given String

In [1]:
def getMiddleThreeChars(sampleStr):
  middleIndex = int(len(sampleStr) /2)
  print("Original String is", sampleStr)
  middleThree = sampleStr[middleIndex-1:middleIndex+2]
  print("Middle three chars are", middleThree)
  
getMiddleThreeChars("JhonDipPeta")
getMiddleThreeChars("Jasonay")

Original String is JhonDipPeta
Middle three chars are Dip
Original String is Jasonay
Middle three chars are son

2. Given 2 strings, s1 and s2, create a new string by appending s2 in the middle of s1

In [4]:
def appendMiddle(s1, s2):
  middleIndex = int(len(s1) /2)
  print("Original Strings are", s1, s2)
  middleThree = s1[:middleIndex:]+ s2 +s1[middleIndex:]
  print("After appending new string in middle", middleThree)
  
appendMiddle("Ault", "Kelly")
appendMiddle("Shahadat", "SHOVU")

Original Strings are Ault Kelly
After appending new string in middle AuKellylt
Original Strings are Shahadat SHOVU
After appending new string in middle ShahSHOVUadat

3. Given 2 strings, s1, and s2 return a new string made of the first, middle and last char each input string

In [5]:
def mix_string(s1, s2):
    first_char = s1[:1] + s2[:1]
    middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]
    last_char = s1[len(s1) - 1] + s2[len(s2) - 1]
    res = first_char + middle_char + last_char
    print("Mix String is ", res)

s1 = "America"
s2 = "Japan"
mix_string(s1, s2)

Mix String is  AJrpan

4. Arrange string characters such that lowercase letters should come first

In [7]:
str1 = "PyNaTiveBd"
lower = []
upper = []
for char in str1:
    if char.islower():
        lower.append(char)
    else:
        upper.append(char)
sorted_string = ''.join(lower + upper)
print("arranging characters giving precedence to lowercase letters:")
print(sorted_string)

arranging characters giving precedence to lowercase letters:
yaivedPNTB

5. Count all lower case, upper case, digits, and special symbols from a given string

In [8]:
def findDigitsCharsSymbols(inputString):
  charCount = 0
  digitCount = 0
  symbolCount = 0
  for char in inputString:
    if char.islower() or char.isupper():
      charCount+=1
    elif char.isnumeric():
      digitCount+=1
    else:
      symbolCount+=1
      
  print("Chars = ", charCount, "Digits = ", digitCount, "Symbol = ", symbolCount)
      
inputString = "P@#yn26at^&i5ve"
print("total counts of chars, digits,and symbols \n")

findDigitsCharsSymbols(inputString)

total counts of chars, digits,and symbols

Chars =  8 Digits =  3 Symbol =  4

6. Given two strings, s1 and s2, create a mixed String

In [9]:
def mixString(s1, s2):
  s2 = s2[::-1]
  lengthS1 = len(s1)
  lengthS2 = len(s2)
  length  = lengthS1 if lengthS1 > lengthS2 else lengthS2 
  resultString=""
  for i in range(length):
    if(i < lengthS1):
      resultString = resultString + s1[i]
    if(i < lengthS2):
      resultString = resultString + s2[i]
    
  print(resultString)
  
s1 = "Abc"
s2 = "Xyz"
mixString(s1, s2)

AzbycX

7. String characters balance Test

In [10]:
def stringBalanceCheck(s1, s2):
  flag = True
  for char in s1:
    if char in s2:
      continue
    else:
      flag = False
  return flag
  
s1 = "Yn"
s2 = "PYnative"
flag = stringBalanceCheck(s1, s2)
print("s1 and s2 are balanced", flag)

s1 = "Ynf"
s2 = "PYnative"
flag = stringBalanceCheck(s1, s2)
print("s1 and s2 are balanced", flag)

s1 and s2 are balanced True
s1 and s2 are balanced False

8. Find all occurrences of “USA” in given string ignoring the case

In [18]:
inputString = "Welcome to USA. usa awesome, isn't it?"
substring = "USA"
tempString = inputString.lower()
count = tempString.count(substring.lower())
print("The USA count is:", count)

The USA count is: 2

9. Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters

In [19]:
import re

inputStr = "English = 78 Science = 83 Math = 68 History = 65"
markList = [int(num) for num in re.findall(r'\b\d+\b', inputStr)]
totalMarks = 0
for mark in markList:
  totalMarks+=mark

percentage = totalMarks/len(markList)  
print("Total Marks is:", totalMarks, "Percentage is ", percentage)

Total Marks is: 294 Percentage is  73.5

10. Given an input string, count occurrences of all characters within a string

In [20]:
str1 = "Apple"
countDict = dict()
for char in str1:
  count = str1.count(char)
  countDict[char]=count
print(countDict)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

11. Reverse a given string

In [21]:
str1 = "PYnative"
print("Original String is:", str1)

str1 = str1[::-1]
print("Reversed String is:", str1)

Original String is: PYnative
Reversed String is: evitanYP

In [22]:
str1 = "PYnative"
print("Original String is:", str1)

str1 = ''.join(reversed(str1))
print("Reversed String is:", str1)

Original String is: PYnative
Reversed String is: evitanYP

12. Find the last position of a substring “Emma” in a given string

In [23]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print("Original String is:", str1)

index = str1.rfind("Emma")
print("Last occurrence of Emma starts at", index)

Original String is: Emma is a data scientist who knows Python. Emma works at google.
Last occurrence of Emma starts at 43

In [24]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
index = str1.rfind("Emma")
print(index)

43

13. Split a given string on hyphens into several substrings and display each substring

In [25]:
str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)

# split string
substrings = str1.split("-")

print("Displaying each substring")
for sub in substrings:
    print(sub)

Original String is: Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

14. Remove empty strings from a list of strings

In [26]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
print("Original list of sting")
print(str_list)

# use built-in function filter to filter empty value
new_str_list = list(filter(None, str_list))

print("After removing empty strings")
print(new_str_list)

Original list of sting
['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']
After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

15. Remove special symbols/Punctuation from a given string

In [27]:
import string

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

# use translate function of a string
# and maketrans function of str class
new_str = str1.translate(str.maketrans('', '', string.punctuation))

print("New string is ", new_str)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

In [28]:
import re

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

str2 = re.sub(r'[^\w\s]', '', str1)
print("New string is ", str2)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

16. Removal all the characters other than integers from string

In [29]:
str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

Original string is I am 25 years and 10 months old
2510

17. Find words with both alphabets and numbers

In [30]:
str1 = "Emma25 is Data scientist50 and AI Expert"
print("The original string is : " + str1)

# Words with both alphabets and numbers
# isdigit() for numbers + isalpha() for alphabets
# use any() to check each character

res = []
temp = str1.split()
for item in temp:
    if any(char.isalpha() for char in item) and any(char.isdigit() for char in item):
        res.append(item)

print("Displaying words with alphabets and numbers")
for i in res:
    print(i)

The original string is : Emma25 is Data scientist50 and AI Expert
Displaying words with alphabets and numbers
Emma25
scientist50

18. From given string replace each punctuation with #

In [31]:
from string import punctuation

str1 = '/*Jon is @developer & musician!!'
print("The original string is : ", str1)

# Replace punctuations with #
replace_char = '#'

# Using string.punctuation to get the list of all punctuations
# use string function replace() to replace each punctuation with #

for char in punctuation:
    str1 = str1.replace(char, replace_char)

print("The strings after replacement : ", str1)

The original string is :  /*Jon is @developer & musician!!
The strings after replacement :  ##Jon is #developer # musician##