<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/09_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a function that can accept two arguments name and age and print its value

In [1]:
def demo(name, age):
    print(name, age)

demo("Ben", 25)

Ben 25

2. Write a function func1() such that it can accept a variable length of  argument and print all arguments value

In [3]:
def func1(*args):
    for i in args:
        print(i)

func1(20, 110, 40, 60)
func1(80, 100)

20
110
40
60
80
100

3. Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call

In [4]:
def calculation(a, b):
    return a+b, a-b

res = calculation(40, 10)
print(res)

(50, 30)

4. Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both, and if the salary is missing in function call it should show it as 9000

In [5]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

showEmployee("Ben", 9000)
showEmployee("Ben")

Employee Ben salary is: 9000
Employee Ben salary is: 9000

5: Create an inner function to calculate the addition in the following way

    Create an outer function that will accept two parameters a and b
    Create an inner function inside an outer function that will calculate the addition of a and b
    At last, an outer function will add 5 into addition and return it

In [6]:
def outerFun(a, b):
    square = a**2
    def innerFun(a,b):
        return a+b
    add = innerFun(a, b)
    return add+5

result = outerFun(5, 10)
print(result)

20

6. Write a recursive function to calculate the sum of numbers from 0 to 10

In [7]:
def calculateSum(num):
    if num:
        return num + calculateSum(num-1)
    else:
        return 0

res = calculateSum(10)
print(res)

55

7. Assign a different name to function and call it through the new name

In [8]:
def displayStudent(name, age):
    print(name, age)

displayStudent("Emma", 26)

showStudent = displayStudent
showStudent("Emma", 26)

Emma 26
Emma 26

8. Generate a Python list of all the even numbers between 4 to 30

In [9]:
print(list( range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [18]:
print(list( range(1, 100, 2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

9. Return the largest item from the given list

In [19]:
aList = [4, 6, 8, 24, 12, 2]
print(max(aList))

24