<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/10_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print First 10 natural numbers using while loop

In [3]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [4]:
# Python Program to Print Natural Numbers from 1 to N
 
number = int(input("Please Enter any Number: "))
i = 1
print("The List of Natural Numbers from 1 to {0} are".format(number)) 
while ( i <= number):
    print (i, end = ' ')
    i = i + 1

Please Enter any Number: 7
The List of Natural Numbers from 1 to 7 are
1 2 3 4 5 6 7

In [5]:
# Python Program to Print Natural Numbers within a range
 
minimum = int(input("Please Enter the Minimum integer Value : "))
maximum = int(input("Please Enter the Maximum integer Value : "))

print("The List of Natural Numbers from {0} to {1} are".format(minimum, maximum)) 

for i in range(minimum, maximum + 1):
    print (i, end = '  ')

Please Enter the Minimum integer Value : 6
Please Enter the Maximum integer Value : 12
The List of Natural Numbers from 6 to 12 are
6  7  8  9  10  11  12

2. Print the following pattern

1  

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

In [6]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

Second Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

3. Accept number from user and calculate the sum of all number between 1 and given number .

For example user given 10 so the output should be 55

In [7]:
sum1 = 0
n = int(input("Please enter number "))
for i in range(1, n + 1, 1):
    sum1 += i
print("\n")
print("Sum is: ", sum1)

Please enter number 7


Sum is:  28

4. Print multiplication table of given number

In [8]:
n = 2
for i in range(1, 11, 1):
    product = n*i
    print(product)

2
4
6
8
10
12
14
16
18
20

In [9]:
n = 5
for i in range(1, 11, 1):
    product = n*i
    print(product)

5
10
15
20
25
30
35
40
45
50

5. Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration

In [13]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for item in list1:
    if (item > 150):
        break
    if(item % 5 == 0):
        print(item)

15
55
75
150

6. Given a number count the total number of digits in a number

In [15]:
num = 7586998
count = 0
while num != 0:
    num //= 10
    count+= 1
print("Total digits are: ", count)

Total digits are:  7