<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/11_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

7. Print the following pattern using for loop

In [1]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

8. Reverse the following list using for loop

In [2]:
list1 = [10, 20, 30, 40, 50]
start = len(list1) - 1
stop = -1
step = -1
for i in range(start, stop, step) :
    print(list1[i])

50
40
30
20
10

9. Display -10 to -1 using for loop

In [7]:
for num in range(-10, 0):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [9]:
for num in range(-10, 0, 2):
    print(num)

-10
-8
-6
-4
-2

10. Display a message “Done” after successful execution of for loop

In [10]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

11. Python program to display all the prime numbers within a range

In [11]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

12. Display Fibonacci series up to 10 terms

In [12]:
terms = 10
# first two terms
num1, num2 = 0, 1
count = 0

print("Fibonacci sequence:")
while count < terms:
    print(num1, end="  ")
    temp = num1 + num2
    # update values
    num1 = num2
    num2 = temp
    count += 1

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34