<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/12_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

13. Write a loop to find the factorial of any number

In [1]:
# 5! = 5 × 4 × 3 × 2 × 1 = 120
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [4]:
num = int(input(""))
fact = 1
for i in range(1,num+1):
  fact = fact * i   
print(fact)

8
40320

14. Reverse a given integer number

In [5]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revered Number ", reverse_number)

Given Number  76542
Revered Number  24567

15. Use a loop to display elements from a given list which are present at even positions

In [6]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

16. Display the cube of the number up to a given integer

In [11]:
input_number = 6
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [12]:
num = 6
for i in range(1, num + 1):
    print(i * i * i,end=" ")

1 8 27 64 125 216

17. Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

In [13]:
number_of_terms = 5
start = 2
sum = 0
for i in range(0, number_of_terms):
    print(start, end=" ")
    sum += start
    start = (start * 10) + 2
print("\nSum of above series is:", sum)

2 22 222 2222 22222
Sum of above series is: 24690

In [16]:
number_of_terms = 6
start = 3
sum = 0
for i in range(0, number_of_terms):
    print(start, end=" ")
    sum += start
    start = (start * 10) + 3
print("\nSum of above series is:", sum)

3 33 333 3333 33333 333333
Sum of above series is: 370368

18. Print the following pattern

In [17]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*