<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/Exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(0, 10): 
	print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
L = [1, 4, 5, 7, 8, 9] 
for i in L: 
	print (i)

1
4
5
7
8
9

In [ ]:
i = 1
while (i < 10): 
	i += 2
	print (i)

3
5
7
9
11

In [ ]:
# Creating non-empty tuples 

# One way of creation 
tup = 'python', 'geeks'
print(tup) 

# Another for doing the same 
tup = ('python', 'geeks') 
print(tup)

('python', 'geeks')
('python', 'geeks')

In [ ]:
# Code for concatenating 2 tuples 

tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek') 

# Concatenating above two 
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'geek')

In [ ]:
# Code for creating nested tuples 

tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek') 
tuple3 = (tuple1, tuple2) 
print(tuple3)

((0, 1, 2, 3), ('python', 'geek'))

In [1]:
sq = []
for i in range(1, 20):
  sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [2]:
sq = []
for i in range(1, 20):
  sq.append(i**1)
print(sq)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
sq = []
qb = []
for i in range(1, 20):
  sq.append(i*2)
  qb.append(i**3)
print(sq)
print(qb)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [7]:
#list Comprehension
list_comp = [i**2 for i in range(1,101)]
print(list_comp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [8]:
#list Comprehension
list_comp = [i**3 for i in range(1,10)]
print(list_comp)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [14]:
#list Comprehension
list_comp = [(i**2, i**3) for i in range(1,10)]
print(list_comp)

[(1, 1), (4, 8), (9, 27), (16, 64), (25, 125), (36, 216), (49, 343), (64, 512), (81, 729)]

In [15]:
rm5 = [x**2%5 for x in range(1,20)]
print(rm5)

[1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1]

In [18]:
rm = [x**2 for x in range(1,20)]
print(rm)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [17]:
rm11 = [x**2%11 for x in range(1,20)]
print(rm11)

[1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9]