<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/List_Comprehension_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
squares = []
for i in range(10):
  squares.append(i * i)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
#list Comprehension
sq = [i * i for i in range(1, 10)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
squares = {i: i * i for i in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [8]:
matrix = [[i for i in range(5)] for _ in range(6)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [9]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
temps = {city: [0 for _ in range(7)] for city in cities}
print(temps)

{'Austin': [0, 0, 0, 0, 0, 0, 0], 'Tacoma': [0, 0, 0, 0, 0, 0, 0], 'Topeka': [0, 0, 0, 0, 0, 0, 0], 'Sacramento': [0, 0, 0, 0, 0, 0, 0], 'Charlotte': [0, 0, 0, 0, 0, 0, 0]}