<a href="https://colab.research.google.com/github/MdShahadatHossainbd/pythonTUT/blob/master/o5_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Add a list of elements to a given set

In [1]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
sampleSet.update(sampleList)
print(sampleSet)

{'Orange', 'Black', 'Blue', 'Red', 'Green', 'Yellow'}

2. Return a set of identical items from a given two Python set

In [5]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

3. Returns a new set with all items from both sets by removing duplicates

In [6]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

4. Given two Python sets, update first set with items that exist only in the first set and not in the second set.

In [7]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

5: Remove 10, 20, 30 elements from a following set at once

In [8]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

6. Return a set of all elements in either A or B, but not both

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

7. Determines whether or not the following two sets have any elements in common. If yes display the common elements

In [11]:
set1 = {10, 20, 30, 40, 50, 80}
set2 = {60, 70, 80, 90, 10, 80}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{80, 10}

8. Update set1 by adding items from set2, except common items

In [12]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

9. Remove items from set1 that are not common to both set1 and set2

In [13]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}